.header_display {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: black;
}

.nav {
    display: flex;
}

.header_direcionaveis {
    padding: 18px;
}

.header_direcionaveis:hover {
    color: blueviolet;
    transition: 0.5s;
}

@media (max-width:1100px) {

}