* {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    text-decoration: none;
    text-align:left;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 24px;
}

body {
    background: linear-gradient(#000000, #2b2b2b);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 100%;
    scroll-behavior: smooth;
}   