.main_felipeterno {
    width: 43rem;
    height: 43rem;
}

.main_h1 {
    text-align: center;
    font-size: 10rem;

    padding-bottom: 3rem;
}

.main_display2 {
    display: flex;
    justify-content:center;

    padding-top: 3rem;
    padding-inline: 14rem;
}

.main_h2 {
    font-size: 7rem;
    padding-bottom: 1.5rem;
}

.main_textobruto {
    padding-right: 5rem;
}

.main_titulohab {
    font-size: 6rem;
}

.main_boxhabilidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding-inline: 14rem;

    gap:5.5rem;
}

.main_titulohabilidades {
    font-size: 3rem;
    text-align: center;

    padding-bottom: .6rem;
}
 
.partemain_1 {
    background:#1f1f1f;

    padding-block: 7rem;
}

.partemain_2 {
    background-color: #FCFCFC;

    padding-block: 7rem;
}

.main_titulohabilidades {
    color: #2c2c2c;

}

.main_phabilidades {
    color: #4B4B4B;

    text-align: center;

}

.main_h1habilidades {
    text-align: center;

    color: #2c2c2c;
    font-size: 10rem;
    text-shadow: 3px 5px 10px rgb(167, 167, 167);

    padding-bottom: 3.5rem;

}

.box {
    border:solid 2px rgb(48, 48, 48);
    border-style: ridge;
    box-shadow: 3px 5px 10px 4px rgb(167, 167, 167);

    padding: 2rem;
}

@media (max-width:1170px){
    .main_felipeterno{
        display: none;
    }

    .main_textobruto{
        padding-right: 0;
    }

    .main_boxhabilidades {
        padding-inline: 3rem;
    }

}


@media (max-width:768px){

    .main_boxhabilidades {
        grid-template-columns: repeat(1, 1fr);

        padding-inline: 5rem;
    }

    .main_display2 {
        padding-inline: 5rem;
    }

    .main_h2 {
        font-size: 5rem;
        text-align: center;
    }

    

}