main {
    background: linear-gradient(#000000, #2b2b2b);
    background-blend-mode: multiply;
    height: 100%;
}

.main_felipeterno {
    width: 400px;
    height: 400px;
}

.main_parte1 {
    display: flex;
    justify-content:space-around;
}

.main_h1 {
    text-align: center;
    
}

.main_parte2 {
    display: flex;
    justify-content:center;
}

.main_h1 {
    font-size: 100px;
}

.main_h2 {
    font-size: 60px;
}

.main_titulohab {
    font-size: 60px;
}

.main_boxhabilidades {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    gap:30px;
}

.main_boxhabilidades > div {
    flex:1 1 500px;
    margin-bottom: 2%;
}

#habilidades {
    margin-bottom: 2%;
}

.main_titulohabilidades {
    text-align: center;
}

.main_display1 {
    margin-bottom: 3%;
}

.main_textobruto {
    margin-right: 3%;
}

@media (max-width:1100px){
    .main_felipeterno{
        display: none;
    }
}
