html {
    text-align:justify;
}

.main_felipeterno {
    width: 500px;
    height: 500px;
}

.main_parte1 {
    display: flex;
    justify-content:space-around;
}


.main_textobruto {
    margin-right: 40px;

}

.main_h1 {
    text-align: center;
    
}

.main_parte2 {
    display: flex;
    justify-content:center;
    margin-left: 80px;
    margin-right: 80px;
}

.main_h1 {
    font-size: 100px;
}

.main_h2 {
    font-size: 60px;
}

p {
    text-align: justify;
}

.main_titulohab {
    font-size: 60px;
    margin-bottom: 30px;
}

.main_boxhabilidades {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    gap:30px;
    margin-left:50px;
    margin-right:50px;
    margin-top: 40px;
}

.main_boxhabilidades > div {
    flex:1 1 500px;

}

.main_titulohabilidades {
    text-align: center;
}